* {
  box-sizing: border-box;
}

body {
  background-color: #6A6A6A;
  color: #fff;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
