.stats-overview {
  @extend .block;

  p {
    margin: 0 .8em 1em;
  }

  h3 {
    margin: 1em 0.45em 0.6em;
    font-weight: 200;
  }

  table {
    @extend .table;

    margin: 0 0 1em;
    font-weight: 200;

    tr {
      &:nth-child(even) td {
        background-color: #f9f9f9;
      }

      &:hover td {
        background-color: #f0f0f0;
      }
    }

    & > thead > tr > th {
      border-bottom-width: 1px;
    }

    th, td {
      text-align: right;
      background-color: #fff;
      border-left: 1px solid #ddd;

      &:first-child {
        text-align: left;
        border-left: 0;
      }
    }

    th {
      color: #3398FF;
      font-weight: 400;
      cursor: pointer;

      &.ascending, &.descending {
        &:after {
          display: inline-block;
          width: 13px;
          height: 8px;
          content: "";
          background-repeat: no-repeat;
          background-position: 95% 50%;
          margin-left: 0.5em;
        }
      }

      &.ascending:after {
        background-image: url(img/ascending.png);
      }

      &.descending:after {
        background-image: url(img/descending.png);
      }
    }
  }

  ul.pagination {
    float: right;
    clear: right;
    margin: 0 .4em 1.5em 0;

    a:hover {
      cursor: pointer;
    }
  }

  .search {
    float: left;
    margin-left: .4em;
    position: relative;
    top: 5px;

    label {
      margin-right: 1em;
      font-weight: 400;
      color: #3398FF;
    }

    input {
      width: 14em;
    }
  }
}
